dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
*~
bin/
*.kate-swp
*.fuse_hidden*
\#*
*.lock
.#*
.ipynb_checkpoints
client_session_key.aes
*.aux
*.pdf
*.log
*.out
*.bbl
*.blg
dist-newstyle
.ghc.environ*
*.swp
